# Copiaza acest fisier in .env si completeaza valorile Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# URL-ul backend-ului (Render)
VITE_API_URL=https://e-patrimoniu-api.onrender.com
